
h1 {
    background-color: blueviolet;
    text-align: center;
    border-color: black;
    border-style: outset;
    font-size: 30px;
    padding: 25px 10px;
    margin: 0px;
    max-height: 30px;
}

#gameButtons {
    display: flex;
    justify-content: space-evenly;
}



button {
    width: 500px;
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: ridge;
    border-radius: 5px;
}

#results {
    text-align: center;
    background-color: aqua;
    padding: 25px 0px;
    margin: -5px 0px 5px 0px;
    font-size: 20px;
    border-color: black;
    border-style: outset;
}