
h1 {
    background-color: plum;
    width: 600px;
    text-align: center;
    border-color: black;
    border-style: outset;
    font-size: 30px;
    margin: 0px auto;
    height: 100px;
    line-height: 100px;
}

#gameButtons {
    display: flex;
    justify-content: center;
}



button {
    width: 200px;
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: ridge;
    border-radius: 5px;
}

#results {
    text-align: center;
    width: 600px;
    background-color: aqua;
    padding: 25px 0px;
    margin: -3px auto 5px auto;
    font-size: 20px;
    border-color: black;
    border-style: outset;
}

.score {
    text-align: center;
    background-color: darkred;
    height: 80px;
    line-height: 40px;
    margin: 10px;
    font-size: 20px;
    color: goldenrod;
    white-space: pre-wrap;
}
#scoreboard {
    display: block;
    border-color: black;
    border-style: solid;
    background-color: goldenrod;
    padding: 0px;
    margin: 0px auto;
    width: 25%;
}